
<form action="/login" method="POST">
  <label>Enter Email:</label>
  <input name="email" type="text">
  <br>
  <label>Enter Password:</label>
  <input name="password" type="password">
  <br>
  <input type="submit" value="Login">
</form>
