<h1>Submit Review:</h1>



{{#if name }}
  Hello {{name}}
{{/if}}

<form action="/submit_review" method="POST">
  <!-- <label>Reviewer Name:</label>
  <input type="text" name="name" required>
  </br> -->
  <label>New Review:</label>
  <input type="text" name="title" required></input>
  <br />
  <label>Review Comment: </label>
  <input type="text" name="review" required></input>
  <br />
  <label>Number of Stars: </label>
  <input type="text" name="stars" required></input>
  <br />
  <input type="hidden" name="id" value="{{id}}"></input>
  <button type="submit">Submit</button>
</form>
