<h1>Submit Review:</h1>

<form action="/submit_review/" method="POST">
  <label>New Review:</label>
  <input type="text" name="submit_review" required>
  <br><br>
  <label>Review Title: </label>
  <input type="text" name="title" required>
  <label>Review: </label>
  <label>Number of Stars: </label>
  <button type="submit">Submit</button>
</form>
